doctype html
html
  head
    title= "One App"
    
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='/javascripts/main.js')
  body
    block content
    
    h1 Welcome to OneApp
    div(class="formclass")
      h1 LOGIN
      form(action="http://localhost:3000/login/",method="post")
        label Username
        input(type="text",id="ruser",name="Username",autocomplete="off")
        label Password
        input(type="password",id="rpass",name="Password",autocomplete="off")
        

        button(type="submit") Login
    h3 OR
    div(class="formclass")
      h1 Register
      form(action="http://localhost:3000/register",method="post")
        label Username
        input(type="text",id="ruser",name="Username",autocomplete="off")
        label Password
        input(type="password",id="pass1",name="pass1",autocomplete="off")
        label Confirm Password
        input(type="password",id="pass2",name="pass2",autocomplete="off")
        button(type="submit") Register