doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon",type="image/png",href="https://cdn-icons-png.flaticon.com/512/3522/3522558.png")
    script(src='/javascripts/main.js')
  body
    block content
