doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/news.css')
    script(src='/javascripts/news.js')
  body
    block content
        
        div(class="btn-group")
            button(type="button",onclick="window.location.href = window.location.href.replace('news','weather')" ) Weather
            button(type="button",onclick="window.location.href = window.location.href.replace('news','news')" ) News
            
        div(class="btn-group")
            button(type="button",onclick="window.location.href = window.location.href.replace('news','sports')") Sports 
            button(type="button",onclick="window.location.href = window.location.href.replace('news','settings')") Settings
        form(action="http://oneapp371.herokuapp.com/user/pab221/news")
          input(type="text",name="search",placeholder="Search for News...")
          button(type="submit") Search
        each val in Interests 
                h1(style="text-transform:capitalize",onclick="showDiv("+val+");",id=val,class="ints")=val+ " ▼"
                div(id=val+"Div",style="display:none")
                    

