doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/news.css')
    script(src='/javascripts/search.js')
  body
    block content
        
        div(class="btn-group")
            button(type="button",onclick="redirect('weather');" ) Weather
            button(type="button",onclick="redirect('news');" ) News
            
        div(class="btn-group")
            button(type="button",onclick="redirect('sports');") Sports 
            button(type="button",onclick="redirect('settings');") Settings
        form(action="http://oneapp371.herokuapp.com/user/pab221/news")
          input(type="text",name="search",placeholder="Search for News...")
          button(type="submit") Search
        h1 News
        h2(id="search")="Search for "+search
        div(id="all")
        