html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/sports.css')
    script(src='/javascripts/sports.js')
  body
    block content
    div(class="btn-group")
        button(type="button",onclick="window.location.href = window.location.href.replace('sports','weather')") Weather
        button(type="button",onclick="window.location.href = window.location.href.replace('sports','news')") News
        
    div(class="btn-group")
        
        button(type="button",onclick="window.location.href = window.location.href.replace('sports','sports')") Sports 
        button(type="button",onclick="window.location.href = window.location.href.replace('sports','settings')") Settings
    h1 Sports
    
    each t in teams 
      div(onclick='showDiv('+'"h'+t.Id+'",'+'"'+t.Id+'");')
        h2(id="h"+t.Id)= t.Name+" ▼"
        div(class="imgDiv")
          img(src=t.Logo+"/preview",class="logo")
      div(class="teams",id=t.Id)

  