doctype html
html
  head
    title= "Redirecting..."
    
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='/javascripts/update.js')
  body
    block content
    h1(id="res")=response
    h1(id="u",style="visibility:hidden")=user
    