doctype html
html
  head
    title= "Redirecting..."
    
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='/javascripts/user.js')
    link(rel="icon",type="image/png",href="https://cdn-icons-png.flaticon.com/512/3522/3522558.png")
  body
    block content
    h1(id="res")=response
    h1(id="u",style="visibility:hidden")=user
    
    
